@import '~antd/dist/antd.css';

.leftMenu {
    height: 100%;
    background-color: #333;
}
.logo {
    display: block;
    margin: 20px auto;
}
.footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #eee;
    padding-top: 10px;
    padding-bottom: 10px;
}
.rightWrap {
    overflow-y: auto;
}
.rightBox {
    padding: 20px 20px 0;
    background-color: #fff;
}
.ani {
    text-align: center;
}
.avatar {
    display: block;
    margin: 16% auto 0;
}