.fixedHeight{
  height:400px;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 600px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.carousel-item {
  height: 600px;
}

.carousel-image-1 {
  background: url('../assets/image1.jpg');
  background-size: cover;
}

.carousel-image-2 {
  background: url('../assets/image2.jpg');
  background-size: cover;
}

.carousel-image-3 {
  background: url('../assets/image3.jpg');
  background-size: cover;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: url('../assets/lights.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
